In [1]:
import pandas as pd
import sqlite3
from IPython.display import display, HTML

## Table names

In [2]:
# Read sqlite query results into a pandas DataFrame
con = sqlite3.connect("events10.sqlite3")
#cur = con.cursor()
table_names = pd.read_sql_query("""SELECT name FROM sqlite_master WHERE type='table';""", con)
table_names

            name
0         events
1  event_catalog
2       listings

## Table sizes

In [3]:
for i, r in table_names.iterrows():
    display(HTML("<h3>%s</h3>" % r['name']))
    display(pd.read_sql_query("""SELECT count(1) FROM %s limit 10;""" % r['name'], con))

   count(1)
0        64

   count(1)
0     10644

   count(1)
0    466709

## Sample for each table

In [4]:
for i, r in table_names.iterrows():
    display(HTML("<h3>%s</h3>" % r['name']))
    display(pd.read_sql_query("""SELECT * FROM %s limit 20;""" % r['name'], con).T)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
eventId,9341238,9429267,9389703,9346793,9431065,9150457,9298782,9316084,9380337,9400133,9304712,9407326,9286407,9407324,9319904,9407323,9346828,9374588,9383984,9303521
eventName,Chicago Blackhawks,Mexrrissey,Los Lobos,The Phantom of the Opera,All City Chicago Showdown,Boston Red Sox,Chicago Bears,Matilda the Musical,Dead and Company,107.7's Deck The Hall Ball,Rudolph the Red Nosed Reindeer The Musical,Boston Calling Music Festival 3 DAY PASS,The Book of Mormon,Boston Calling Music Festival DAY 2,Finding Neverland,Boston Calling Music Festival DAY 1,The Phantom of the Opera,The White Buffalo,The Big Ticket,The Lion King
zipCode,60612,78701,94115,10036,60608,02215,60605,10036,94102,98109,02111,02201,78701,02201,10036,02201,10036,94115,32202,10036
address,1901 West Madison St.,23rd St & Robert Dedman Dr.,1805 Geary Blvd.,247 West 44th Street,1807 S. Allport St.,4 Yawkey Way,1410 S. Museum Campus Dr.,225 West 44th Street,99 Grove St.,401 1st Ave.,270 Tremont Street,One City Hall Square,23rd St & Robert Dedman Dr.,One City Hall Square,205 West 46th St.,One City Hall Square,247 West 44th Street,1805 Geary Blvd.,1410 Gator Bowl Boulevard,200 West 45th St.
city,Chicago,Austin,San Francisco,New York,Chicago,Boston,Chicago,New York,San Francisco,Seattle,Boston,Boston,Austin,Boston,New York,Boston,New York,San Francisco,Jacksonville,New York
state,IL,TX,CA,NY,IL,MA,IL,NY,CA,WA,MA,MA,TX,MA,NY,MA,NY,CA,FL,NY
timeZone,CST,CST,PST,EST,CST,EST,CST,EST,PST,PST,EST,EST,CST,EST,EST,EST,EST,PST,EST,EST
timeLocal,2015-10-24 20:30:00.050000,2015-12-03 20:00:00.060000,2015-12-04 21:00:00.080000,2015-11-30 20:00:00.050000,2016-01-02 20:00:00.060000,2015-09-05 16:05:00.040000,2015-12-06 12:00:00.060000,2015-12-01 19:00:00.050000,2015-12-27 19:00:00.080000,2015-12-08 15:00:00.080000,2015-12-03 10:00:00.050000,2016-05-27 17:59:00.040000,2015-12-09 20:00:00.060000,2016-05-28 12:00:00.040000,2015-12-02 14:00:00.050000,2016-05-27 18:00:00.040000,2015-12-01 19:00:00.050000,2015-12-03 20:00:00.080000,2015-12-06 12:00:00.050000,2015-11-29 15:00:00.050000
timeUTC,2015-10-25 01:30:00,2015-12-04 02:00:00,2015-12-05 05:00:00,2015-12-01 01:00:00,2016-01-03 02:00:00,2015-09-05 20:05:00,2015-12-06 18:00:00,2015-12-02 00:00:00,2015-12-28 03:00:00,2015-12-08 23:00:00,2015-12-03 15:00:00,2016-05-27 21:59:00,2015-12-10 02:00:00,2016-05-28 16:00:00,2015-12-02 19:00:00,2016-05-27 22:00:00,2015-12-02 00:00:00,2015-12-04 04:00:00,2015-12-06 17:00:00,2015-11-29 20:00:00
venueName,United Center,Bass Concert Hall,Fillmore San Francisco,Majestic Theatre New York,Thalia Hall Chicago,Fenway Park,Soldier Field,Shubert Theatre - NY,Bill Graham Civic Auditorium,Key Arena,Shubert Theatre - Boston,Boston City Hall Plaza,Bass Concert Hall,Boston City Hall Plaza,Lunt Fontanne Theatre,Boston City Hall Plaza,Majestic Theatre New York,Fillmore San Francisco,Metropolitan Park,Minskoff Theatre
category,Hockey Tickets,Concert tickets,Concert tickets,Musicals Tickets,Skateboarding Tickets,Baseball Tickets,Football Tickets,Musicals Tickets,Concert tickets,Concert tickets,Family Tickets,Music Festival Tickets,Musicals Tickets,Music Festival Tickets,Musicals Tickets,Music Festival Tickets,Musicals Tickets,Concert tickets,Concert tickets,Musicals Tickets

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
eventId,9286407,9346793,9423972,9443747,9400133,9299562,9429267,9431065,9389703,9329583,9286412,9407326,9346828,9414874,9414875,9346762,9357076,9296245,9380357,9392294
rows,8,3,1,1,100,100,4,3,5,34,8,3,15,2,2,27,12,24,6,26
totalListings,8,3,1,1,267,210,4,3,5,34,8,3,15,2,2,27,12,24,6,26
maxQuantity,6,4,4,10,16,10,7,6,6,15,8,8,5,10,10,7,8,7,15,16
zone_stats,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
pricingSummary,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
totalTickets,24,11,4,10,989,289,18,16,21,154,36,14,56,18,17,105,56,66,51,121
minQuantity,2,3,4,10,1,1,3,4,2,2,2,2,2,8,7,2,2,1,3,1
request_time,20151129173253,20151129173253,20151129173253,20151129173253,20151129173253,20151129173253,20151129173254,20151129173254,20151129173254,20151129173254,20151129173254,20151129173254,20151129173254,20151129173254,20151129173254,20151129173254,20151129173254,20151129173254,20151129173254,20151129173254

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
listingId,1170976341,1170976332,1172551261,1168645546,1144268295,1167988954,1154985216,1170412785,1167938872,1167938889,1172769597,1169315966,1172647548,1164008313,1164189738,1164189735,1164140168,1164043393,1163931931,1172452385
deliveryFee,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
seatNumbers,"103,104","137,138","105,106","135,136","109,110,111","103,104,105,106,107,108","105,106,107","114,115,116,117",General Admission,General Admission,General Admission,General Admission,"47758992,47758993,47758994,47758995,47758996,4...","13,14,15,16","9,10,11,12","7,8,9,10,11,12","7,8","11,12,13","3,4,5,6","18,19,20,21,22"
row,R,S,W,W,D,C,B,J,I,H,K,10,GA,12,9,10,6,13,12,16
totalCost,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
serviceFee,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
zoneId,238488,238488,238485,238485,238486,238486,238486,238486,228853,228853,228853,97599,None,94174,94174,94174,94174,94174,94174,94174
score,0,0,0,0,0,0,0,0,0,0,0,0,0,-2.82524,-2.78898,-2.73174,-2.81095,-2.8625,-2.88627,-2.9179
ticketSplit,2,2,1,2,1,1,1,2,3,2,1,1,1,2,2,2,1,1,1,1
sectionId,1617164,1617166,1617176,1617176,1617160,1617160,1617160,1617160,1491845,1491845,1491845,40069,None,521159,521147,521099,521159,521159,521159,521159
sellerOwnInd,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
ticketClass,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
splitOption,0,0,2,0,2,2,2,1,1,1,1,1,1,1,1,1,2,2,2,2
zoneName,Second Balcony,Second Balcony,First Balcony,First Balcony,Orchestra,Orchestra,Orchestra,Orchestra,Orchestra,Orchestra,Orchestra,Arena Level Center,None,Upper,Upper,Upper,Upper,Upper,Upper,Upper
sectionName,Second Balcony Upper Center 2,Second Balcony Upper Right Center 2,First Balcony Sides,First Balcony Sides,Orchestra 1,Orchestra 1,Orchestra 1,Orchestra 1,Orchestra Center,Orchestra Center,Orchestra Center,Arena Level Center 48,211 E. 7th St. - 0.7 mi from venue,Upper 211,Upper 203,Upper 210,Upper 211,Upper 211,Upper 211,Upper 211
dirtyTicketInd,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
sellerSectionName,UC2,URC2,1st Balcony,1ST BALCONY RIGHT,ORCH,ORCH,ORCH,ORCH CENTER,CENTER ORCH,CENTER ORCH,Orchestra Center,Arena Level Center 48,211 E. 7th St. - 0.7 mi from venue,Upper 211,203,210,211,211,211,211
quantity,2,2,2,2,3,6,3,4,3,4,4,4,10,4,4,6,2,3,4,5
faceValueCurrency,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
faceValueAmount,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
currentPriceCurrency,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD
currentPriceCurrencyAmount,61.54,80.06,172.85,224.8,249.02,260.49,271.95,297.34,256.39,256.39,262.65,44.96,16.49,71.02,72.7,72.7,75.04,75.45,80.23,80.83
eventId,9286407,9286407,9286407,9286407,9286407,9286407,9286407,9286407,9346793,9346793,9346793,9423972,9443747,9400133,9400133,9400133,9400133,9400133,9400133,9400133
request_time,20151129173253,20151129173253,20151129173253,20151129173253,20151129173253,20151129173253,20151129173253,20151129173253,20151129173253,20151129173253,20151129173253,20151129173253,20151129173253,20151129173253,20151129173253,20151129173253,20151129173253,20151129173253,20151129173253,20151129173253

## Event catalog for a specific event
- Looks like a snapshot by request_time

In [8]:
display(pd.read_sql_query("""SELECT * from event_catalog ec
where ec.eventId = 9286407""", con))

,eventId,rows,totalListings,maxQuantity,zone_stats,pricingSummary,totalTickets,minQuantity,request_time
0,9286407,8,8,6,NaN,NaN,24,2,20151129173253
1,9286407,8,8,6,NaN,NaN,24,2,20151129173335
2,9286407,8,8,6,NaN,NaN,24,2,20151129173419
3,9286407,8,8,6,NaN,NaN,24,2,20151129173507
4,9286407,8,8,6,NaN,NaN,24,2,20151129173543
5,9286407,8,8,6,NaN,NaN,24,2,20151129173624
6,9286407,8,8,6,NaN,NaN,26,2,20151129173755
7,9286407,8,8,6,NaN,NaN,26,2,20151129173832
8,9286407,8,8,6,NaN,NaN,26,2,20151129173912
9,9286407,8,8,6,NaN,NaN,24,2,20151129174046
10,9286407,8,8,6,NaN,NaN,24,2,20151129174122
11,9286407,8,8,6,NaN,NaN,24,2,20151129174202
12,9286407,8,8,6,NaN,NaN,24,2,20151129174338
13,9286407,8,8,6,NaN,NaN,24,2,20151129174414
14,9286407,8,8,6,NaN,NaN,24,2,20151129174454
15,9286407,8,8,6,NaN,NaN,24,2,20151129174622
16,9286407,8,8,6,NaN,NaN,24,2,20151129174706
17,9286407,8,8,6,NaN,NaN,24,2,20151129174747
18,9286407,8,8,6,NaN,NaN,24,2,20151129174910
19,9286407,8,8,6,NaN,NaN,24,2,20151129174950
20,9286407,8,8,6,NaN,NaN,24,2,20151129175031
21,9286407,8,8,6,NaN,NaN,24,2,20151129175158
22,9286407,8,8,6,NaN,NaN,24,2,20151129175236
23,9286407,8,8,6,NaN,NaN,26,2,20151129175316
24,9286407,8,8,6,NaN,NaN,26,2,20151129175401
25,9286407,8,8,6,NaN,NaN,26,2,20151129175446
26,9286407,8,8,6,NaN,NaN,24,2,20151129175531
27,9286407,8,8,6,NaN,NaN,24,2,20151129175611
28,9286407,8,8,6,NaN,NaN,24,2,20151129175656
29,9286407,8,8,6,NaN,NaN,24,2,20151129175743
...,...,...,...,...,...,...,...,...,...
196,9286407,7,7,6,NaN,NaN,22,2,20151129202551
197,9286407,7,7,6,NaN,NaN,22,2,20151129202629
198,9286407,7,7,6,NaN,NaN,22,2,20151129202715
199,9286407,7,7,6,NaN,NaN,22,2,20151129202800
200,9286407,7,7,6,NaN,NaN,22,2,20151129202840
201,9286407,7,7,6,NaN,NaN,22,2,20151129202920
202,9286407,7,7,6,NaN,NaN,22,2,20151129203051
203,9286407,7,7,6,NaN,NaN,22,2,20151129203133
204,9286407,7,7,6,NaN,NaN,22,2,20151129203212
205,9286407,7,7,6,NaN,NaN,22,2,20151129203342
206,9286407,7,7,6,NaN,NaN,22,2,20151129203421
207,9286407,7,7,6,NaN,NaN,22,2,20151129203502
208,9286407,7,7,6,NaN,NaN,24,2,20151129203635
209,9286407,7,7,6,NaN,NaN,24,2,20151129203713
210,9286407,7,7,6,NaN,NaN,24,2,20151129203754
211,9286407,7,7,6,NaN,NaN,22,2,20151129203930
212,9286407,7,7,6,NaN,NaN,22,2,20151129204010
213,9286407,7,7,6,NaN,NaN,22,2,20151129204053
214,9286407,7,7,6,NaN,NaN,22,2,20151129204141
215,9286407,7,7,6,NaN,NaN,22,2,20151129204218
216,9286407,7,7,6,NaN,NaN,22,2,20151129204304
217,9286407,7,7,6,NaN,NaN,22,2,20151129204352
218,9286407,7,7,6,NaN,NaN,22,2,20151129204432
219,9286407,7,7,6,NaN,NaN,22,2,20151129204516
220,9286407,7,7,6,NaN,NaN,22,2,20151129204647
221,9286407,7,7,6,NaN,NaN,22,2,20151129204728
222,9286407,7,7,6,NaN,NaN,22,2,20151129204811
223,9286407,7,7,6,NaN,NaN,22,2,20151129204947
224,9286407,7,7,6,NaN,NaN,22,2,20151129205026
225,9286407,7,7,6,NaN,NaN,22,2,20151129205109

## Listings for a specific event

In [15]:
display(pd.read_sql_query("""SELECT * FROM listings l
where eventId = 9286407
limit 10""", con).T)

,0,1,2,3,4,5,6,7,8,9
listingId,1170976341,1170976332,1172551261,1168645546,1144268295,1167988954,1154985216,1170412785,1170976341,1170976332
deliveryFee,None,None,None,None,None,None,None,None,None,None
seatNumbers,"103,104","137,138","105,106","135,136","109,110,111","103,104,105,106,107,108","105,106,107","114,115,116,117","103,104","137,138"
row,R,S,W,W,D,C,B,J,R,S
totalCost,None,None,None,None,None,None,None,None,None,None
serviceFee,None,None,None,None,None,None,None,None,None,None
zoneId,238488,238488,238485,238485,238486,238486,238486,238486,238488,238488
score,0,0,0,0,0,0,0,0,0,0
ticketSplit,2,2,1,2,1,1,1,2,2,2
sectionId,1617164,1617166,1617176,1617176,1617160,1617160,1617160,1617160,1617164,1617166
sellerOwnInd,0,0,0,0,0,0,0,0,0,0
ticketClass,None,None,None,None,None,None,None,None,None,None
splitOption,0,0,2,0,2,2,2,1,0,0
zoneName,Second Balcony,Second Balcony,First Balcony,First Balcony,Orchestra,Orchestra,Orchestra,Orchestra,Second Balcony,Second Balcony
sectionName,Second Balcony Upper Center 2,Second Balcony Upper Right Center 2,First Balcony Sides,First Balcony Sides,Orchestra 1,Orchestra 1,Orchestra 1,Orchestra 1,Second Balcony Upper Center 2,Second Balcony Upper Right Center 2
dirtyTicketInd,0,0,0,0,0,0,0,0,0,0
sellerSectionName,UC2,URC2,1st Balcony,1ST BALCONY RIGHT,ORCH,ORCH,ORCH,ORCH CENTER,UC2,URC2
quantity,2,2,2,2,3,6,3,4,2,2
faceValueCurrency,0,0,0,0,0,0,0,0,0,0
faceValueAmount,0,0,0,0,0,0,0,0,0,0
currentPriceCurrency,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD
currentPriceCurrencyAmount,61.54,80.06,172.85,224.8,249.02,260.49,271.95,297.34,61.54,80.06
eventId,9286407,9286407,9286407,9286407,9286407,9286407,9286407,9286407,9286407,9286407
request_time,20151129173253,20151129173253,20151129173253,20151129173253,20151129173253,20151129173253,20151129173253,20151129173253,20151129173335,20151129173335

## Duplicate entries per listing for a specific event

In [13]:
display(pd.read_sql_query("""SELECT listingId, count(1) FROM listings l
where eventId = 9286407
group by 1""", con))

    listingId  count(1)
0  1144268295       226
1  1154985216       226
2  1167988954       226
3  1168645546       226
4  1170412785       226
5  1170976332        85
6  1170976341       226
7  1172551261       226

## Listings for a specific eventId & listingId

In [17]:
display(pd.read_sql_query("""SELECT * FROM listings l
where eventId = 9286407 and listingId = 1144268295""", con).T)

,0,1,2,3,4,5,6,7,8,9,...,216,217,218,219,220,221,222,223,224,225
listingId,1144268295,1144268295,1144268295,1144268295,1144268295,1144268295,1144268295,1144268295,1144268295,1144268295,...,1144268295,1144268295,1144268295,1144268295,1144268295,1144268295,1144268295,1144268295,1144268295,1144268295
deliveryFee,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
seatNumbers,"109,110,111","109,110,111","109,110,111","109,110,111","109,110,111","109,110,111","109,110,111","109,110,111","109,110,111","109,110,111",...,"109,110,111","109,110,111","109,110,111","109,110,111","109,110,111","109,110,111","109,110,111","109,110,111","109,110,111","109,110,111"
row,D,D,D,D,D,D,D,D,D,D,...,D,D,D,D,D,D,D,D,D,D
totalCost,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
serviceFee,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
zoneId,238486,238486,238486,238486,238486,238486,238486,238486,238486,238486,...,238486,238486,238486,238486,238486,238486,238486,238486,238486,238486
score,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ticketSplit,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
sectionId,1617160,1617160,1617160,1617160,1617160,1617160,1617160,1617160,1617160,1617160,...,1617160,1617160,1617160,1617160,1617160,1617160,1617160,1617160,1617160,1617160
sellerOwnInd,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ticketClass,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
splitOption,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
zoneName,Orchestra,Orchestra,Orchestra,Orchestra,Orchestra,Orchestra,Orchestra,Orchestra,Orchestra,Orchestra,...,Orchestra,Orchestra,Orchestra,Orchestra,Orchestra,Orchestra,Orchestra,Orchestra,Orchestra,Orchestra
sectionName,Orchestra 1,Orchestra 1,Orchestra 1,Orchestra 1,Orchestra 1,Orchestra 1,Orchestra 1,Orchestra 1,Orchestra 1,Orchestra 1,...,Orchestra 1,Orchestra 1,Orchestra 1,Orchestra 1,Orchestra 1,Orchestra 1,Orchestra 1,Orchestra 1,Orchestra 1,Orchestra 1
dirtyTicketInd,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
sellerSectionName,ORCH,ORCH,ORCH,ORCH,ORCH,ORCH,ORCH,ORCH,ORCH,ORCH,...,ORCH,ORCH,ORCH,ORCH,ORCH,ORCH,ORCH,ORCH,ORCH,ORCH
quantity,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
faceValueCurrency,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
faceValueAmount,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
currentPriceCurrency,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,...,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD
currentPriceCurrencyAmount,249.02,249.02,249.02,249.02,249.02,249.02,249.02,249.02,249.02,249.02,...,249.02,249.02,249.02,249.02,249.02,249.02,249.02,249.02,249.02,249.02
eventId,9286407,9286407,9286407,9286407,9286407,9286407,9286407,9286407,9286407,9286407,...,9286407,9286407,9286407,9286407,9286407,9286407,9286407,9286407,9286407,9286407
request_time,20151129173253,20151129173335,20151129173419,20151129173507,20151129173543,20151129173624,20151129173755,20151129173832,20151129173912,20151129174046,...,20151129204304,20151129204352,20151129204432,20151129204516,20151129204647,20151129204728,20151129204811,20151129204947,20151129205026,20151129205109

## Distinct listings per event

In [18]:
display(pd.read_sql_query("""SELECT l.eventId, count(distinct l.listingId) FROM listings l
join events e on e.eventId = l.eventid
group by l.eventId;""", con))

    eventId  count(distinct l.listingId)
0   9286407                            8
1   9286412                            8
2   9296245                           28
3   9296247                           24
4   9298782                          112
5   9299561                          117
6   9299562                          111
7   9303522                           90
8   9303523                          107
9   9304712                            4
10  9304713                            4
11  9304721                            6
12  9316019                           96
13  9316084                           95
14  9319904                          108
15  9319988                          120
16  9329583                           34
17  9329596                           27
18  9346762                           27
19  9346793                            4
20  9346828                           15
21  9357076                           12
22  9368766                           19
23  9368768                           15
24  9371842                          110
25  9371843                          103
26  9374588                            4
27  9380337                          122
28  9380338                          105
29  9380357                            7
30  9382872                          111
31  9383984                           33
32  9383994                          115
33  9389703                            5
34  9392294                           27
35  9394569                            8
36  9399800                           21
37  9400133                          107
38  9407326                            3
39  9414872                            4
40  9414874                            2
41  9414875                            2
42  9423972                            1
43  9429267                            4
44  9431065                            3
45  9443703                          102
46  9443725                          106
47  9443747                            1

## Number of distinct listings

In [19]:
pd.read_sql_query("""SELECT count(distinct l.listingId) FROM listings l""", con).sum()

count(distinct l.listingId)    2297
dtype: int64

In [20]:
pd.read_sql_query("""SELECT count(l.listingId) FROM listings l""", con).sum()

count(l.listingId)    466709
dtype: int64

In [14]:
con.close()